<h1>Password Generator</h1>

<div>
  <label>Enter Password Length</label>
  <input type="number" min="0" (input)="handleChangePasswordLength($event)" />
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="handleUseLetters()" name="" id="" />
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="handleUseNumbers()" id="" />
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox" (change)="handleUseSymbols()" name="" id="" />
</div>

<div>
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label for="">Generated Password</label>
  <input type="text" name="" id="" [value]="password" />
</div>
